{% load static %}
<ul>
    <a href="{% url 'blog:index' %}">Voltar</a>
    {% block title %}<h1>Lista de Posts:</h1>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <br>
    <a href="{% url 'blog:create_post' %}">CRIAR NOVO POST</a>
    <br>
    {% for post in posts %}
        {% if post.id %}
            <li>
                <a href="{% url 'blog:detail_post' post.id %}">{{ post.title }}</a>
            </li>
        {% else %}
            <li>Post inválido</li>
        {% endif %}
    {% endfor %}
</ul>
